<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>
	
	<table>
		<tr>
			<td><h4>No.</h4></td>
			<td><h4>직책</h4></td>
		</tr>
		<tr> 	
			<td th:text="${contactAffiliationItem.seq}"></td>
			<td th:text="${contactAffiliationItem.position}"></td>
		</tr>
	</table>
	
	<a href="/contact/affiliation/contactAffiliationXdmList">목록</a>
	<a th:href="@{/contact/affiliation/contactAffiliationXdmMfom(seq=${contactAffiliationItem.seq})}">수정</a>
	<a href="">삭제</a>
	
</body>
</html>