<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>
	<table>
		<tr>
			<td><h4>No.</h4></td>
			<td><h4>닉네임</h4></td>
		</tr>
		<tr>
			<td th:text="${contactItem.seq}"></td>
			<td th:text="${contactItem.nickname}"></td>
		</tr>
	</table>
	
	<a href="/contact/contactXdmList">목록</a>
	<a th:href="@{/contact/contactXdmMfom(seq=${contactItem.seq})}">수정</a>
	<a th:href="@{/contact/contactXdmDele(seq=${contactItem.seq})}" id="delete">삭제</a>
	<a th:href="@{/contact/contactXdmUele(seq=${contactItem.seq})}" id="uelete">삭제(업데이트)</a>
	
	<script type="text/javascript">
		document.getElementById("delete").onclick = function() {
			if (!confirm("정말 삭제하시겠습니까?")) {
				return false;
			}
		}
		
		document.getElementById("uelete").onclick = function() {
			if (!confirm("정말 삭제하시겠습니까?")) {
				return false;
			}
		}
	</script>
</body>
</html>