<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>
    
	<table>
		<tr>
			<td><h4>No.</h4></td>
			<td><h4>프로필 파일 이름</h4></td>
			<td><h4>즐겨찾기</h4></td>
			<td><h4>경칭</h4></td>
			<td><h4>성</h4></td>
			<td><h4>중간 이름</h4></td>
			<td><h4>이름</h4></td>
			<td><h4>호칭</h4></td>
			<td><h4>아이디</h4></td>
			<td><h4>닉네임</h4></td>
			<td><h4>메모</h4></td>
		</tr>
		<tr th:each="list : ${contact}"> 	
			<td th:text="${list.seq}"></td>
			<td th:text="${list.profileFilename}"></td>
			<td th:text="${list.favorite}"></td>
			<td th:text="${list.honorific}"></td>
			<td th:text="${list.lastName}"></td>
			<td th:text="${list.middleName}"></td>
			<td th:text="${list.firstName}"></td>
			<td th:text="${list.appellation}"></td>
			<td th:text="${list.id}"></td>
			<td>
				<a th:href="@{/contact/contactXdmItem(seq=${list.seq})}"
				th:text="${list.nickname}"></a>
			</td>
			<td th:text="${list.memo}"></td>
		</tr>
	</table>
	
</body>
</html>