<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>
	
	<table>
		<tr>
			<td><h4>No.</h4></td>
			<td><h4>구분</h4></td>
			<td><h4>연락처</h4></td>
		</tr>
		<tr> 	
			<td th:text="${contactPhoneItem.seq}"></td>
			<td th:text="${contactPhoneItem.type}"></td>
			<td th:text="${contactPhoneItem.number}"></td>
		</tr>
	</table>
	
	<a href="/contact/Phone/contactPhoneXdmList">목록</a>
	<a th:href="@{/contact/phone/contactPhoneXdmMfom(seq=${contactPhoneItem.seq})}">수정</a>
	<a href="">삭제</a>
	
</body>
</html>