<html>
	<head>
		<title>Welcome</title>
	</head>
	<body>
		index.html
		
		<ol>
			<li>
				<a href="/helloWorld">helloWorld</a>
			</li>
			<li>
				<a href="/aaa/bbb">aaa</a>
			</li>	
			<li>
				<a href="/xxx/yyy/zzz">zzz</a>
			</li>	
			<li>
				<a href="/ttt/yyy">xxx</a>
			</li>	
			<li>
				<a href="/infra/member/loginXdmForm">loginForm</a>
			</li>	
			<li>
				<a href="/infra/codegroup/codeGroupXdmList">codeGroupList</a>
			</li>	
			<li>
				<a href="/infra/codegroup/codeGroupXdmForm">codeGroupForm</a>
			</li>
			<li>
				<a href="/infra/member/loginUsrForm">loginForm</a>
			</li>
		</ol>
</body>
</html>