<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>
	
	<table>
		<tr>
			<td><h4>No.</h4></td>
			<td><h4>홈페이지 주소</h4></td>
		</tr>
		<tr> 	
			<td th:text="${contactHomepageItem.seq}"></td>
			<td th:text="${contactHomepageItem.url}"></td>
		</tr>
	</table>
	
	<a href="/contact/homepage/contactHomepageXdmList">목록</a>
	<a th:href="@{/contact/homepage/contactHomepageXdmMfom(seq=${contactHomepageItem.seq})}">수정</a>
	<a th:href="@{/contact/homepage/contactHomepageXdmDele(seq=${contactHomepageItem.seq})}"
		id="delete">삭제</a>
	<a th:href="@{/contact/homepage/contactHomepageXdmUele(seq=${contactHomepageItem.seq})}"
		id="uelete">삭제(업데이트)</a>
	
	<script type="text/javascript">
		document.getElementById("delete").onclick = function() {
			if (!comfirm("정말 삭제하시겠습니까?")) {
				return false;
			}
		}
		
		document.getElementById("uelete").onclick = function() {
			if (!comfirm("정말 삭제하시겠습니까?")) {
				return false;
			}
		}
	</script>
	
</body>
</html>