<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lala.fapp.contact.email.ContactEmailDao">

	<resultMap id="resultMapObj" type="com.lala.fapp.contact.email.ContactEmailDto"></resultMap>

	<select id="selectList" resultMap="resultMapObj">
		SELECT
			seq,
		    main,
		    email,
		    contact_seq
		FROM
			contact_email
	</select>
	
	<select id="selectOne" resultMap="resultMapObj">
		SELECT
			seq,
		    email
		FROM
			contact_email
		WHERE 1=1
		AND seq=#{seq}
	</select>
	
</mapper>