<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lala.fapp.contact.email.ContactEmailDao">

	<resultMap id="resultMapObj" type="com.lala.fapp.contact.email.ContactEmailDto"></resultMap>

	<select id="selectList" resultMap="resultMapObj">
		SELECT
			seq,
		    main,
		    email,
		    contact_seq
		FROM
			contact_email
		WHERE 1=1
			AND isDel=0
	</select>
	
	<select id="selectOne" resultMap="resultMapObj">
		SELECT
			seq,
		    main,
		    email,
		    contact_seq
		FROM
			contact_email
		WHERE 1=1
		AND seq=#{seq}
	</select>
	
	<insert id="insert">
		INSERT INTO contact_email
		(
		    main,
		    email,
		    isDel,
		    contact_seq
		)
		VALUES
		(
			#{main},
		    #{email},
		    0,
		    #{contact_seq}
		)
	</insert>
	
	<update id="update">
		UPDATE contact_email
		SET
			main=#{main},
		    email=#{email}
		WHERE
			seq=#{seq}
	</update>
	
	<delete id="delete">
		DELETE FROM contact_email
		WHERE
			seq=#{seq}
	</delete>
	
	<update id="uelete">
		UPDATE contact_email
		SET
			isDel=1
		WHERE
			seq=#{seq}
	</update>
	
</mapper>