<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lala.fapp.contact.memoryday.ContactMemorydayDao">

	<resultMap id="resultMapObj" type="com.lala.fapp.contact.memoryday.ContactMemorydayDto"></resultMap>

	<select id="selectList" resultMap="resultMapObj">
		SELECT
			seq,
		    main,
		    type,
		    date,
		    solar,
		    contact_seq
		FROM
			contact_memoryday
	</select>
	
	<select id="selectOne" resultMap="resultMapObj">
		SELECT
			seq,
		    date,
		    solar
		FROM
			contact_memoryday
		WHERE 1=1
		AND seq=#{seq}
	</select>
	
</mapper>