<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Dao 파일의 경로를 넣어준다. -->
<mapper namespace="com.lala.fapp.grouplist.GroupListDao">

	<!-- Dto 파일의 경로를 넣어준다. (type만 수정) -->
	<resultMap id="resultMapObj" type="com.lala.fapp.grouplist.GroupListDto"></resultMap>
	
	<!-- 
		#select 쿼리 
		- id: <mapper> 태그에 정의된 namespace와 일치하는 클래스에 정의된 함수명을 뜻함
		- resultMap: 정의된 값과 일치하는 <resultMap> 태그의 id를 찾아
					 해당 type에 정의된 클래스에 결과를 저장한다.
	-->
	<select id="selectList" resultMap="resultMapObj">
		<!-- 쿼리에 ;은 뺀다. -->
		SELECT
			seq,
		    groupName
		FROM
			grouplist
		WHERE 1=1
		ORDER BY seq DESC
	</select>
	
	<!-- 조건에 맞는 데이터 1줄만 읽어오기 -->
	<select id="selectOne" resultMap="resultMapObj">
		SELECT
			seq,
		    groupName
		FROM
			grouplist
		WHERE 1=1
		AND seq=#{seq} <!-- seq를 동적으로 받겠다는 표시 # 
							Dto의 seq와 html의 파라메터 id 값과 동일 -->
	</select>
	
	<!-- 
		데이터 1개 추가 
		몇 번의 update/insert/delete 했는지를 return
	-->
	<insert id="insert"> <!-- resultMap은 없어도 된다. return 할 것이 없으므로 -->
		INSERT INTO grouplist
		(
			<!-- seq, --> <!-- 자동 증가 값은 입력하지 않는다. -->
		    groupName
		)
		VALUES 
		(
			<!-- #{seq}, -->
		    #{groupName}
		)
		
		<!-- 
			마지막에 insert한 Data의 key값을 가져와 Dto에 담아준다. 
			resultType은 Dto에 정의 된 타입으로 한다.
			keyProperty은 DB에 저장 된 키값으로 한다. (모든 개발 파일 전부 동일하게 맞춰줌)
			last_insert_id()는 My Sql에서 제공하는 함수
		-->
		<selectKey resultType="String" keyProperty="seq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert> 
	
	<update id="update"> <!-- resultMap은 없어도 된다. return 할 것이 없으므로 -->
		UPDATE grouplist
		SET
			groupName=#{groupName}
		WHERE
			seq=#{seq}
	</update>
	
</mapper>