<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>
	
	<table>
		<tr>
			<td><h4>No.</h4></td>
			<td><h4>구분</h4></td>
			<td><h4>주소</h4></td>
		</tr>
		<tr> 	
			<td th:text="${contactMsgsnsItem.seq}"></td>
			<td th:text="${contactMsgsnsItem.type}"></td>
			<td th:text="${contactMsgsnsItem.address}"></td>
		</tr>
	</table>
	
	<a href="/contact/msgsns/contactMsgsnsXdmList">목록</a>
	<a th:href="@{/contact/msgsns/contactMsgsnsXdmMfom(seq=${contactMsgsnsItem.seq})}">수정</a>
	<a href="">삭제</a>
	
</body>
</html>