<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>
	
	<form action="/contact/msgsns/contactMsgsnsXdmInst" method="post" id="form">
		main: <input id="main" name="main"><br/>
	    type: <input id="type" name="type"><br/>
	    address: <input id="address" name="address"><br/>
	    contact_seq: <input id="contact_seq" name="contact_seq"><br/>
	    <button type="button" id="btnSave">저장</button>
	</form>
	
	<script type="text/javascript">
		document.getElementById("btnSave").onclick = function() {
			document.getElementById("form").submit();
		}
	</script>
	
</body>
</html>