<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

<!-- 
	조건에 맞는 데이터 1줄만 가져오기
	이때는 each:(향상된 for문)를 사용할 필요가 없다.
	때문에 th:text의 변수명은 Controller에 명시된 Attribute명을 바로 사용한다.
 -->

	<table>
		<tr>
			<td><h4>seq</h4></td>
			<td><h4>groupName</h4></td>
		</tr>
		<tr> 	
			<td th:text="${groupListItem.seq}"></td>
			<td th:text="${groupListItem.groupName}"></td>
		</tr>
	</table>
	
	<a href="/grouplist/groupListXdmList">목록</a>
	<a th:href="@{/grouplist/groupListXdmDele(seq=${groupListItem.seq})}" id="delete">삭제</a>
	<a th:href="@{/grouplist/groupListXdmUele(seq=${groupListItem.seq})}" id="uelete">삭제(업데이트)</a>
	<a th:href="@{/grouplist/groupListXdmMfom(seq=${groupListItem.seq})}">수정</a>
	
	<script type="text/javascript">
		document.getElementById("uelete").onclick = function() {
			// true일 때는 a 태그의 기능 수행
			if (!confirm("정말 삭제하시겠습니까?")) {
				return false;
			}
		}
		
		document.getElementById("delete").onclick = function() {
			if (!confirm("정말 삭제하시겠습니까?")) {
				return false;
			}
		}
	</script>
	
</body>
</html>