<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"> <!-- thymeleaf 기능을 사용하겠다는 명시 -->
<head>
</head>
<body>

<!-- 데이터 읽어오기(기능없음) -->
	<table>
		<tr>
			<td><h4>seq</h4></td>
			<td><h4>groupName</h4></td>
		</tr>
		
		<!--
			th: thymeleaf 약어
			each: 향상된 for문과 동일(변수명 : Attribute명)
			${groupList}: Controller의 Attribute에 추가된 "groupList"
			list: 변수
		-->
		<tr th:each="list : ${groupList}"> 	
			<td th:text="${list.seq}"></td>
			<td th:text="${list.groupName}"></td>
		</tr>
	</table>

<!--
	데이터 읽어오기(그룹 이름을 클릭하면 해당 그룹만 보여주기)
	=> Get 방식
	ex) http://aaa.com/a.html?id=1&seq=2
	
	?변수=값&변수=값변수=값&변수=값...
	? - 변수와 값이 뒤에 붙는다는 표시
	& - 한가지 변수와 값 사이의 구분자
	
	참고) ? 이하가 보이지 않고 주소로만 보이는 방식은 Post 방식
-->
	<table>
		<tr>
			<td><h4>seq</h4></td>
			<td><h4>groupName</h4></td>
		</tr>
		<tr th:each="list : ${groupList}"> 	
			<td th:text="${list.seq}"></td>
			<td>
				<a th:href="@{/grouplist/groupListXdmItem(seq=${list.seq})}"
					th:text="${list.groupName}"></a>
				<!-- 옛날 방식
				<a href="/grouplist/groupListXdmItem?seq=[${list.seq}]"
					th:text="${list.groupName}"></a> 
				-->
			</td>
		</tr>
	</table>
	<br>
	<a href="/grouplist/groupListXdmForm">등록</a>
	
</body>
</html>